<h4>
  <%= @recipe.title %> <br
</h4>
<p>
 <%= @recipe.description %>
 </p>

 <img class='recipe-photo' src="<%= @recipe.photo_url %>"><br>

<%= link_to "Back", root_path %>
<br>
<%= link_to "Edit", edit_recipe_path %>
<br>
<%= link_to "Delete", recipe_path(@recipe),
 method: :delete, data: {confirm: "Are you sure you want to delete your recipe?"}, class: 'delete' %>
