<h4>
  <%= @recipe.title %> <br
</h4>
<%= button_to "Create a Recipe", new_recipe_path, method: :get %>

<p>
 <%= @recipe.description %>
 </p>

 <img class='recipe-photo' src="<%= @recipe.photo_url %>"><br>

    <%= button_to "Back", root_path, method: :get %>
    <br>

    <% if current_user %>

    <% if current_user.id == @recipe.user_id %>


    <%= button_to "Edit", edit_recipe_path, method: :get %>
    <br>
    <%= button_to "Delete", recipe_path(@recipe),method: :delete, data: {confirm: "Are you sure you want to delete your recipe?"}, class: 'delete' %>

    <% end %>
  <% end %>
