<!DOCTYPE html>
<html>
<head>
  <title>CheikhHealthyRecipesPj2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
  <nav>
    <ul>
      <li><%= button_to "Home", root_path, method: :get %></li>
      <% if user_signed_in? %>
        <li>Welcome <%= current_user.email %></li>
        <li>
          <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= button_to "Login",  new_user_session_path %>
          or
          <%= button_to "Signup",  new_user_registration_path, method: :get %>
        </li>
      <% end %>
    </ul>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
